ul {
    list-style: none;
    padding: 0;
  }
  
  .nav-link {
    color: white;
    padding: 5px 10px;
    position: relative;
  }
  

  
  .nav-link:hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
  }
  